{% extends "base.html" %}
{% load static %}

{% block content %}


  <div class="body">
    <div id="featured">
      <h3>This is a FREE website template</h3>
      <p>This website template has been designed by Free Website Templates for you, for free. You can replace all this text with your own text. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper</p>
      <input type="button" value="Read more">
    </div>
    <ul class="blog">
      <li>
        <div> <a href="#"><img src="{% static 'images/pastries.jpg' %}" alt=""></a>
          <p>This website template has been designed by Free Website Templates for you, for free. You can replace all this text with your own text.</p>
          <a href="blog.html">Click to read more</a> </div>
      </li>
      <li>
        <div> <a href="#"><img src="{% static 'images/fruits.jpg' %}" alt=""></a>
          <p>This website template has been designed by Free Website Templates for you, for free. You can replace all this text with your own text.</p>
          <a href="#">Click to read more</a> </div>
      </li>
      <li>
        <div> <a href="#"><img src="{% static 'images/cosmetics.jpg' %}" alt=""></a>
          <p>This website template has been designed by Free Website Templates for you, for free. You can replace all this text with your own text.</p>
          <a href="#">Click to read more</a> </div>
      </li>
    </ul>
  </div>
  
  {% endblock content %}